<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249610647075-8sc59pteslh6uphetsaop1pocmbkftna.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249610647075-8sc59pteslh6uphetsaop1pocmbkftna</string>
	<key>API_KEY</key>
	<string>AIzaSyDNDC95ZIpKOmUgMXFDRQcv3M1IXoybwPo</string>
	<key>GCM_SENDER_ID</key>
	<string>249610647075</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aliapps.Tinder-Clone</string>
	<key>PROJECT_ID</key>
	<string>tinderclone-2d739</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderclone-2d739.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249610647075:ios:192f73c26ef8babec9e396</string>
</dict>
</plist>